persuader-technology-automata-core>=0.6.0
persuader-technology-automata-utilities>=0.2.2
persuader-technology-automata-logger>=0.0.5
persuader-technology-automata-redis>=0.3.8
persuader-technology-automata-process-manager>=0.2.1
persuader-technology-automata-data-stream>=0.2.5
persuader-technology-automata-exchange-repository>=0.3.0
persuader-technology-automata-exchange-transform-repository>=0.2.0
persuader-technology-automata-config>=0.1.6
